/* Main Styles */

.main {
    display: inline-block;
    width: 83%;
    height: auto;
    /* border:1px solid blue; */
    margin-bottom: 5%;
}



/* Main Styles */

/* Posts Styles */

.posts {
    width: 100%;
    /* border:1px solid red; */
    /* height: 45vh; */
}

/* Posts Styles */